button {
  font-size: 24px;
  padding: 10px 15px;
  border: lightgray solid;
  background-color: white;
  color: black;
}

button:hover {
  font-size: 24px;
  padding: 10px 15px;
  border: none;
  background-color: black;
  color: white;
}

table,
th,
td {
  border: 1px solid white;
}

td:not(:first-child) {
  text-align: left;
}

thead {
  background-color: black;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: lightgray;
}
